{% extends "jira_sub_tasks/base.html" %}
{% block content %}
    <h1 class="mt-2 mb-3">Privacy Notice</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">By using this application you agree to below statements.</h5>
            <ul class="card-text">
                <li>This application is integrated with Tele2 JIRA Authentication. It doesn't store any passwords in any form.</li>
                <li>This application stores Name and Tele2 User Id of you and your team members. Only the administrator can see and edit this information.</li>
            </ul>
        </div>
    </div>
{% endblock content %}